S3method(importance,rjungle)
S3method(predict,rjungle)
export(confusion)
export(importance.rjungle)
export(impute)
export(plotMDS)
export(predict.rjungle)
export(rjungle)
exportClasses(rjungle)
import(MASS)
import(methods)
importClassesFrom(methods)
